/* Style de base pour le corps de la page */
body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #00000054;
}

/* Style général de l'application */
.App {
  text-align: center;
}

/* Style de la barre de navigation */
.navbar {
  width: 100%;
  height: 70px;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center; /* Aligner les éléments au centre */
  padding: 0 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  z-index: 1000;
  
}

/* Style des liens de la barre de navigation */
.navbar a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  margin: 0 10px;
  padding: 10px;
  border-radius: 5px; /* Ajout d'un rayon de bordure pour l'effet de fond */
  transition: color 0.3s ease, transform 0.3s ease, background-color 0.3s ease;
}

/* Style des liens au survol */
.navbar a:hover {
  color: #4CAF50;
  background-color: rgba(255, 255, 255, 0.1); /* Changement subtil de fond */
  transform: translateY(-2px) scale(1.05); /* Légère élévation et agrandissement */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Ombre pour un effet de profondeur */
}
/* Ajout d'un espace en haut du contenu principal pour ne pas être caché par la navbar */
.main-content {
  padding-top: 80px; /* Hauteur de la navbar + un peu d'espace */
}


/* App.css */



/* App.css */

.logOut {
  background-color: #f44336; /* Couleur de fond rouge */
  color: white;              /* Texte blanc */
  border: none;              /* Pas de bordure */
  padding: 8px 16px;         /* Padding intérieur */
  margin-left: 10px;         /* Marge à gauche */
  border-radius: 4px;        /* Bordures arrondies */
  cursor: pointer;           /* Curseur en forme de main */
  font-weight: bold;         /* Texte en gras */
  margin-right: 8px;
}

.logOut:hover {
  background-color: #d32f2f; /* Couleur de fond plus foncée au survol */
}

/* Style de la zone d'authentification à droite */
.navbar .auth-area {
  margin-left: auto; /* Pousse la zone d'authentification vers la droite */
  display: flex; /* Utilise flexbox pour aligner les éléments à l'intérieur */
  align-items: center; /* Centre les éléments verticalement */
}

/* Style pour le nom d'utilisateur */
.navbar .username {
  color: white;
  margin-right: 100px; /* Espacement après le bouton Logout */
  font-size: 18px;
  margin-bottom: 13px;
}
