body {
  margin: 0;
  padding: 0;
  margin-top: 90px;
  
  font-family: 'Roboto', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.question {
  width: 800px;
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12); /* Ombre plus prononcée */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.question .header {
  background-color: #cccccc; /* Gris moyen pour l'en-tête */
  color: #333;
  padding: 15px 20px;
  font-size: 1.1em;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.question:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgba(34, 218, 6, 0.479);
}

.question .questionText {
  font-size: 16px;
  line-height: 1.6;
  margin: 20px;
  color: #333333;
}

.question .title {
  font-size: 24px;
  margin: 20px;
  font-weight: bold;
  color: #333;
}

.question .footer {
  background-color: #cccccc; /* Gris moyen pour le footer */
  color: #333;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  font-size: 0.9em;
  align-items: center;
}

a, button {
  transition: background-color 0.3s, color 0.3s;
}

a:hover, button:hover {
  background-color: #ffffff;
  color: #333;
}

@media screen and (max-width: 768px) {
  .question {
    width: 90%;
    margin: 0 auto;
  }
}
