@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

.container {
  
  justify-content: center;
  align-items: center;
 
  
}

.connexion {
margin-top: 70px;
  background: #222;
  padding: 40px;
  width: 35vw;
  border-radius: 15px;
  box-shadow: 0 15px 35px rgba(0,0,0,0.9);
  text-align: center;
}

.connexion h2 {
  font-size: 2em;
  color: #0f0;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.connexion input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: none;
  outline: none;
}

.connexion button {
  width: 100%;
  padding: 10px;
  background: #0f0;
  color: #000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
}

@media (max-width: 600px) {
  .connexion {
    width: 90%;
  }
}
