.pageQuestion {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.questionDemander, .Reponse {
  width: 80%;
  max-width: 800px; /* Largeur maximale pour une meilleure lisibilité sur grands écrans */
  margin-bottom: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre pour la profondeur */
  padding: 20px;
  font-family: 'Arial', sans-serif;
}

.laquestion {
  margin-bottom: 20px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.header {
  font-size: 18px;
  color: #666;
  margin-bottom: 15px;
}

.questionText {
  font-size: 16px;
  color: #444;
  margin-bottom: 20px;
}

.footer {
  font-size: 14px;
  color: #888;
  text-align: right;
}

.ajouterReponse {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.ajouterReponse input {
  flex-grow: 1;
  padding: 15px;
  border: 2px solid #ddd;
  border-radius: 5px;
}

.ajouterReponse button {
  padding: 10px 15px;
  border: none;
  background-color: #1e90ff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.ajouterReponse button:hover {
  background-color: #00bfff;
}

.listeReponse div {
  background-color: #ffffff; /* Fond blanc pour plus de visibilité */
  padding: 40px;
  position: relative;
  margin-bottom: 10px; /* Espacement entre les réponses */
  border: 1px solid #ddd; /* Bordure subtile pour chaque réponse */
  border-radius: 8px; /* Bordures arrondies */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Légère ombre pour la profondeur */
  word-wrap: break-word; /* Assure que le texte long est cassé et passe à la ligne suivante */
  overflow-wrap: break-word;

}

.listeReponse div:last-child {
  margin-bottom: 0; /* Pas de marge pour le dernier élément */
}

.username {
  position: absolute; /* Positionnement absolu pour le footer */
  bottom: 10px; /* Positionné à 10px du bas du conteneur div */
  left: 10px; /* Positionné à 10px de la droite du conteneur div */
  font-size: 14px;
  color: #888;

 }

 .time {
  position: absolute; /* Positionnement absolu pour le footer */
  bottom: 10px; /* Positionné à 10px du bas du conteneur div */
  right: 10px; /* Positionné à 10px de la droite du conteneur div */
  font-size: 14px;
  color: #888;

 }

